::-webkit-scrollbar {
    display: none;
}

h2,h3,h4,h5,h6{
    font-family:'Karla', sans-serif ;
    font-weight:500;
}
.body{
    margin: 0px 0px 0px 0px;
}


.Image{
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    right: 2vw;
    top:2vw
}

.Proyects{
    color: black;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: rotate(90deg) translate(-50%, -50%);
    text-decoration: none;
    z-index:1;

}

.Home{
    color: black;
    position: absolute;
    text-decoration: none;
    left: 50%;
    z-index:1;

}

.Work{
    color: black;
    position: absolute;
    top: 50%;
    left: 2.5rem;
    transform: translate(-50%, -50%) rotate(-90deg) ;
    text-decoration: none;
    z-index:1;
}

.About{
    color: black;
    position: absolute;
    top: 90%;
    left:70vw;
    text-decoration: none;
    z-index:1;

}

.Skills{
    color: black;
    position: absolute;
    top: 90%;
    left:30vw;
    text-decoration: none;
    z-index:1;
}

.Icons{

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 2rem;

    z-index:3;


    
}

.Icons>*:not(:last-child){
    margin: 0.5rem 0;
}

.Line{
    width: 2px;
    background-color:black;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    height: 80rem;
    margin: -12px -12px -12px -12px;
    overflow: hidden;
}

.skillsHeader {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.skillsHeader h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
}

.skillsContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 200px;
    margin-top: 3.5rem;
    padding: 0 2rem;
    background-color: inherit;
    cursor: pointer;
}

.skill--scroll {
    width: 100%;
}


.skill--box {
    background: #FAFAFA;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 135px;
    height: 135px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
}

.skill--box:hover  {
    transform: scale(1.15);
}


.skill--box > img {
    height: 50px;
    pointer-events: none;
}


.skill--box h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-top: 1rem;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .skills {
        padding: 2rem 1rem 1rem 1rem;
    }
    .skillsContainer {
        padding: 1.5rem;
        margin-top: 1.5rem;
    }
}


@media screen and (max-width: 992px) {
    .skills {
        padding: 1rem;
        min-height: 100%;
    }
    .skillsContainer {
        padding: 1rem;
        margin: 1rem 0;
    }
    .skillsHeader h2 {
        font-size: 3.2rem;
    }
    .skill--box {
        width: 135px;
        height: 135px;
        margin: 1.2rem;
        padding: 2rem 1rem;
    }

    .skill--box > img {
        height: 45px;
    }


    .skill--box h3 {
        font-size: 20px;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 800px) {
    .skills {
        padding: 0.5rem;
    }
    .skillsContainer {
        padding: 0.5rem;
    }
    .skillsHeader h2 {
        font-size: 3rem;
    }

    .skill--scroll {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .skill--box {
        width: 135px;
        height: 135px;
        margin: 1.2rem;
        padding: 2rem 1rem;
    }

    .skill--box > img {
        height: 40px;
    }

    .skillsHeader h2 {
        font-size: 2.5rem;
    }

    .skill--box h3 {
        font-size: 18px;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}

.skillBoxStyle {
    background-color: '#e4747c';
    box-shadow: 0px 0px 30px white;
}

.Description{
    float:center;
    color: black;
    width: 40vw;
    height: 200px;
    position:absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 500px;

    -webkit-animation: Description 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: Description 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.Description>h1{
    font-size: 30px;
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.Description.Progressbar{
    z-index: 1;
}

.Description>img{
    position: absolute; 
    top: 10px;
    right: 10px;
    height: 50px;
}

@-webkit-keyframes Description {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes Description{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* PROYECTS */


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 2rem;
}


.projects--header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}


.projects--header h1 {
    margin-bottom: 40px;
    font-size: 3.5rem;
}

.projects--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects--bodyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    width: 100%;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .projects--bodyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .projects--header h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .projects--header h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .projects--viewAll {
        position: relative;
        margin-top: 4rem;
    }
    .projects--viewAll a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);  
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}

/* PROYECT */
.singleProject {
    box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
    width: 304px;
    height: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 2rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;


}

.projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.projectContent > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.525rem;
    line-height: 110%;
    text-align: center;
}

.projectContent > img {
    margin-top: -5vw;
    width: 100%;
    height: 50%;
    transition: opacity 0.7s 0.3s;
}

.singleProject:hover .ImageProyect{
    opacity: 0;
}

.project--showcaseBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.project--showcaseBtn > a {
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: transform 0.5s 0.3s;
    margin-right: 10px;
    margin-left: 10px
}

.singleProject:hover .project--showcaseBtn a:nth-child(2) {
    transform: translateX(-140px) scale(1.1) !important;
}


.singleProject .project--desc{
    position: absolute;
    width: 95%;
    height: 160px;
    left: 0;
    top: 0;
    transform: translate(-110%,40%);
    padding: 15px;
    border-radius: 0 20px 20px 0;
    transition: transform 0.9s;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.singleProject:hover .project--desc{
    transform: translate(-2%,40%);
}
  
.singleProject .project--lang{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 140px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    transition: transform 0.5s 0.3s;
    padding: 0.825rem;
}
  
.singleProject:hover .project--lang{
    transform: translateX(0);
}

.project--lang > span {
    font-weight: 500;
    word-break: break-word; 
    line-height: 100%;
}

/* TIMELINE */
.work{
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: -30px -15px -15px -15px;
}  
  .title {
    font-size: large;
    text-align: center;
    font-size: 40px;
    color:#50c4ad ;
    padding: 40px;
  }
  
  h3 {
    padding-top: 0.25em;
    margin-bottom: 10px !important;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 #b9ecd9,
      0 0.4em 1.25em 0 #b9ecd9 !important;
    padding: 2em 3em !important;
  }

  .vertical-timeline-element-content>img {
    height: 50px;
    position: absolute;
    bottom:10px;
    right:10px
  }
  
  
  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .date{
    top: -25px  !important;
    font-size: 20px !important;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      margin-top: 1.5em;
      color:   #76d5b5;
    }
  }

/* ABOUT */

.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -9px -12px -12px -12px;
}
  
.landing--container {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
}
  
  .landing--img {
    --img-size: 400px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
  }
  
  .landing--container-left {
    flex: 35%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .lcl--content {
    margin: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .landing--social {
    font-size: 35px;
    margin: 0 1rem;
    transition: transform 0.5s;
  }
  
  .landing--social:hover {
    transform: scale(1.2);
  }
  
  .landing--container-right {
    flex: 65%;
    height: 100%;
    background-color: #02000A;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .lcr--content {
    width: 45%;
    margin-right: 7rem;
    font-style: normal;
    color:white
  }
  
  .lcr--content h6 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: -0.85rem;
    opacity: 0.8;
  }
  
  .lcr--content h1 {
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 110%;
    margin: 1rem 0;
  }
  
  .lcr--content p {
    margin-top: 1.45rem;
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.7;
  }
  
  .lcr-buttonContainer {
    margin-top: 2rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "var(--primaryFont)", sans-serif;
  }
  
  @media (max-width: 1100px) {
    .landing--img {
      --img-size: 350px;
    }
    .lcl--content {
      margin: 2rem;
    }
  
    .lcr--content h6 {
      font-size: 1.1rem;
    }
  
    .lcr--content h1 {
      font-size: 3rem;
    }
  
    .lcr--content p {
      margin-top: 0.3rem;
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 1rem;
    }
  
    .lcr-buttonContainer {
      margin-top: 1rem;
      flex-direction: column;
      width: 200px;
      height: 120px;
      align-items: flex-start;
    }
  }
  
  @media (max-width: 900px) {
    .landing--img {
      --img-size: 300px;
    }
  
    .landing--social {
      font-size: 30px;
    }
    .lcr--content {
      width: 60%;
      margin-top: 10%;
      margin-right: 6%;
    }
  
    .lcr-buttonContainer {
      margin-top: 1rem;
      flex-direction: column;
      width: 200px;
      height: 120px;
      align-items: flex-start;
    }
    .lcr-buttonContainer button:nth-child(2) {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .landing--container {
      flex-direction: column;
      justify-content: space-between;
    }
    .landing--img {
      --img-size: 200px;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
    }
    .landing--container-left {
      flex: initial;
      width: 100%;
      height: 30%;
    }
    .landing--social {
      display: none;
    }
    .landing--container-right {
      box-sizing: border-box;
      padding: 0 2rem;
      flex: initial;
      height: 70%;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
    }
    .lcr--content {
      margin-top: 20%;
      margin-right: initial;
      width: 100%;
    }
    .lcr--content h6 {
      font-size: 1rem;
      text-align: center;
    }
    .lcr--content h1 {
      font-size: 2.5rem;
      text-align: center;
    }
    .lcr--content p {
      font-size: 0.95rem;
      text-align: center;
      margin: 0 auto;
      width: 90%;
    }
    .lcr-buttonContainer {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .lcr-buttonContainer button {
      margin-top: -20%;
    }
  }
  
  @media (max-width: 500px) {
    .lcr--content {
      margin-top: 35%;
    }
  }
  @media (max-width: 370px) {
    .lcr--content {
      margin-top: 60%;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .landing {
      height: 100%;
    }
  
    .landing--img {
      --img-size: 150px;
      left: 50%;
      top: 20%;
    }
  }

  /* GRADIENTE */

.landing--container-left {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

  
.btn {

  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
 }


.btn:hover {
  background-position: right center; 
}

  



